<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softllc.libs.theme_spacetrader" >

    <application>
        <provider
            android:name=".SpaceTraderThemeProvider"
            android:authorities="${applicationId}.theme.spacetrader.themeprovider"
            android:directBootAware="true"
            android:exported="false"
            android:initOrder="300"
            tools:ignore="UnusedAttribute"/>
    </application>
</manifest>

